version: "2.4"
services:
  plugin_crawler_html:
    image: docker.io/tiredpixel/isoxya-plugin-crawler-html.build:unstable
    init: true
    volumes:
      - ./.hlint.yaml:/home/x/repo/.hlint.yaml
      - ./.stylish-haskell.yaml:/home/x/repo/.stylish-haskell.yaml
      - ./isoxya-plugin-crawler-html.cabal:/home/x/repo/isoxya-plugin-crawler-html.cabal
      - ./lib:/home/x/repo/lib
      - ./src:/home/x/repo/src
      - ./test:/home/x/repo/test
    networks:
      processor:
        aliases:
          - isoxya-plugin-crawler-html.localhost
    restart: on-failure
networks:
  processor: {}
